#app-logo {
    display: block;
    margin: auto;
}

#p-index1 {
    text-align: center;
}

#welltab {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: -4%;
    background: white;
    border: 1px solid grey;
    border-radius: 50px;
    margin-top: 15px;
}

.btn {
    display: block;
    margin: 0 auto;
}
#hr1 {
    border-top: 1px solid grey;
}

.input-group {
    width: 250px;
    display: block;
    margin: auto;
}

#test {
    margin-top: 10px;
}

#a1 {
    text-align: center;
}

#a2 {
    text-decoration: none;
}

#imgmainpage {
    display: block;
    margin: auto;
    width: 70px;
    height: 40px;
}

#registerbutton {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#nodeco {
    text-decoration: none;
}

#nav1 {
    border-color: red;
    border-radius: 0px;
    border-right: 0px;
    margin-bottom: 0px;
    border-bottom-width: 20px;
}

#nav2 {
    border-color: red;
    border-radius: 0px;
    border-right: 0px;
    
}

#russia {
    float: right;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.verticalLine {
    border-left: thick solid #ff0000;
    float: right;
    height: 5000px;
    border-width: thin; 
    background-color: #f8f8f8;
    border-bottom: 1px solid red;
    width: 200px;
}

#h1mainpage {
    text-align: center;
    font-family: Impact;
}

.jumbotron {
    background-color: transparent;
}

body {
    overflow:hidden;
    background-color: red;
}

#invline {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#invline2 {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

#invline3 {
    text-align: center;
    font-family: Impact;
    font-size: 35px;
   -webkit-text-fill-color: red;; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

#divinvline {
    border-bottom: 1px solid red;
}

.panel-heading {
    text-align: center;
    font-size: 15px;
}

#charttext {
    text-align: center;
}

table {
    border-bottom: 1px solid red;
}

#footerdiv {
    border: 1px solid black;
}

#h2main {
    text-align: center;
}

#h2main:hover {
    transition: 1s;
    color: red;
}

#h1main {
    text-align: center;
}