#app-logo {
    display: block;
    margin: auto;
}

#p-index1 {
    text-align: center;
}

#welltab {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: -4%;
    background: white;
    border: 1px solid grey;
    border-radius: 50px;
    margin-top: 15px;
}

.btn {
    display: block;
    margin: 0 auto;
}
#hr1 {
    border-top: 1px solid grey;
}

.input-group {
    width: 250px;
    display: block;
    margin: auto;
}

#test {
    margin-top: 10px;
}

#a1 {
    text-align: center;
}

#a2 {
    text-decoration: none;
}

#imgmainpage {
    display: block;
    margin: auto;
    width: 70px;
    height: 40px;
}

#registerbutton {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#nodeco {
    text-decoration: none;
}

#nav1 {
    border-color: red;
    border-radius: 0px;
    border-right: 0px;
    margin-bottom: 0px;
    border-bottom-width: 20px;
}

#nav2 {
    border-color: red;
    border-radius: 0px;
    border-right: 0px;
    
}

#russia {
    float: right;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.verticalLine {
    border-left: thick solid #ff0000;
    float: right;
    height: 530px;
    border-width: thin; 
    background-color: #f8f8f8;
    width: 200px;
    overflow:hidden;
}

.verticalLine2 {
    border-right: thick solid #ff0000;
    float: left;
    height: 530px;
    border-width: thin; 
    background-color: #f8f8f8;
    width: 200px;
    overflow:hidden;
}

#h1mainpage {
    text-align: center;
    font-family: Impact;
}

body {
    overflow-y: hidden;
    background-color: red;
}

#invline {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#invline2 {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

#invline3 {
    text-align: center;
    font-family: Impact;
    font-size: 35px;
   -webkit-text-fill-color: red;; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

#divinvline {
    border-bottom: 1px solid red;
}

.panel-heading {
    text-align: center;
    font-size: 15px;
}

#charttext {
    text-align: center;
}

table {
    border-bottom: 1px solid red;
}

#h2main {
    text-align: center;
}

#h2main:hover {
    transition: 1s;
    color: red;
}

#h1main {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}


#post{
    display: block;
    border: 5px solid red;
    width: 30%; 
    margin: auto;
    border-radius: 30px;
    text-align: center;
    background-color: lightcoral;  
    margin-bottom: 20px;
    overflow: auto;
    width: 500px;
}

.jumbotron {
    height: 700px;
    overflow: scroll;
}

#textarea1 {
}

#textarea2 {
    
}

#button1 {
    
}

#textarea3 {
    margin-left: -100px;
    height: 200px;
}

#textarea4 {
    margin-left: -100px;
}

#row1 {
    width: 400px;
}

#buttononchat {
    margin-left: -290px;
}

#rightcenter {
    color: red;
    text-align: center;
    font-size: 25px;
}

#rightcenter:hover {
    color: lightcoral;
    text-align: center;
    transition: 1s;
}

#divalert {
    display: block;
    margin: auto;
    width: 600px;
    height: 50px;
}

#titlepost {
    font-family: 'PT Sans Narrow', sans-serif;
}

#rightcenter1 {
    margin-top: 180px;
    font-size: 25px;
    text-align: center;
}


