#app-logo {
    display: block;
    margin: auto;
}

#p-index1 {
    text-align: center;
}

#welltab {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: -4%;
    background: white;
    border: 1px solid grey;
    border-radius: 50px;
    margin-top: 15px;
}

.btn {
    display: block;
    margin: 0 auto;
}
#hr1 {
    border-top: 1px solid grey;
}

.input-group {
    width: 250px;
    display: block;
    margin: auto;
}

#test {
    margin-top: 10px;
}

#a1 {
    text-align: center;
}

#a2 {
    text-decoration: none;
}

#imgmainpage {
    display: block;
    margin: auto;
    width: 70px;
    height: 40px;
}

#registerbutton {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
}

#nodeco {
    text-decoration: none;
}
